<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643224551502-uk0o6omc1juabstdjm1tkeormb7a1g3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643224551502-uk0o6omc1juabstdjm1tkeormb7a1g3g</string>
	<key>API_KEY</key>
	<string>AIzaSyAQXrqQTq6SID-ac82zdX4spkCSPE03Iok</string>
	<key>GCM_SENDER_ID</key>
	<string>643224551502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vivabrolite.maps-md3</string>
	<key>PROJECT_ID</key>
	<string>iosmaps-f2e23</string>
	<key>STORAGE_BUCKET</key>
	<string>iosmaps-f2e23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643224551502:ios:74aa1053759244acbb831f</string>
	<key>DATABASE_URL</key>
	<string>https://iosmaps-f2e23.firebaseio.com</string>
</dict>
</plist>